<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Currency</key>
		<string>₴</string>
		<key>ID</key>
		<string>1</string>
		<key>Finished</key>
		<true/>
		<key>Date</key>
		<date>2015-01-17T15:16:02Z</date>
		<key>Accounts</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Mr. Red</string>
				<key>Balance</key>
				<integer>15000</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mr. Orange</string>
				<key>Balance</key>
				<integer>15000</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mr. Blue</string>
				<key>Balance</key>
				<integer>15000</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string>Prof. Purple</string>
				<key>Balance</key>
				<integer>15000</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
